@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: rgb(235, 235, 235);
  --interactive: rgb(200, 200, 200);
  --sidebar: rgb(20, 20, 20);
  --text: rgb(20, 20, 20);
  --contrast: rgb(235, 235, 235);
  --link: #85b1e7;
  --link-active: #7eabdf;
  --primary: #d4d3fc;
  --secondary: #ad1e13;
  --shadow-link: 0rem 0rem 1rem var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(20, 20, 20);
    --interactive: rgb(200, 200, 200);
    --sidebar: rgb(20, 20, 20);
    --text: rgb(235, 235, 235);
    --contrast: rgb(20, 20, 20);
    --link: #0f478a;
    --link-active: #0d3c73;
    --primary: #161536;
    --secondary: #ad1e13;

    --button-text: rgb(10, 10, 10);
    --inactive-text: rgb(165, 165, 165);
    --shadowColor: var(--text);
    --shadow-link: 0rem 0rem 1rem var(--shadowColor);
    --shadow-omni: 0rem 0rem 1rem black;
  }
}
html {
  scrollbar-gutter: stable;
}
body {
  color: var(--text);
  background: var(--bg);
}

button {
  cursor: default;
}
