@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-start: rgb(245, 245, 245);
  --bg: rgb(235, 235, 235);
  --bg-interactive: rgb(250, 250, 250);
  --bg-sidebar:rgb(20, 20, 20);
  --text: rgb(20, 20, 20);
  --interactive-text: rgb(240, 240, 240);
  --inactive-text: rgb(177, 177, 177);
  --link: #3191ff;
  --link-active: #53a2fc;
  --primary: #161536;
  --secondary: #E94D41;
  --shadowColor: var(--link);
  --shadow-link: 0rem 0rem 1rem var(--shadowColor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-start: rgb(10, 10, 10);
    --bg: rgb(20, 20, 20);
    --bg-interactive: rgb(10, 10, 10);
    --text: rgb(235, 235, 235);
    --interactive-text: rgb(20, 20, 20);
    --shadowColor:var(--text);
    --inactive-text: rgb(177, 177, 177);
  }
}

body {
  color: var(--text);
  background: var(--bg);
  
}
button {
  cursor: default;
}